@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* estilos personalizados */

.hover-btn{
  transition: 0.9s;
}
.hover-btn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
}
